/* .addMovie  */
.formContainer {
  padding: 1rem 0;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: column;
}
.formContainer > form {
  width: 20rem;
  min-height: 70vh;
  border: 2px solid var(--clr-dark-2);
  padding: 1rem 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}
.rowDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.3rem;

  color: #fff;
}

.rowDiv > label {
  font-size: 1.2rem;
}

.rowDiv > input {
  padding: 0.25rem;
}

.rowDiv > input:focus {
  outline: none;
}
.addMovie button {
  padding: 0.5rem 1rem;
  background-color: var(--clr-lighten-3);
  border: 2px solid var(--clr-dark-2);

  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
}

.addMovie button:hover {
  opacity: 0.7;
}
